
<section>
  <div>
    <h2>Our Blog</h2>
    <div>
      <% @articles.each do |article| %>
        <div>
          <div>
            <div>
              <span>
                <!-- Replace with actual category name -->
                <%= article.category.name %>
              </span>
              <span><%= time_ago_in_words(article.created_at) %> ago</span>
            </div>
            <h4><%= article.title %></h4>
            <% if article.article_bodies.last %>
            
              <p><%= truncate(article.article_bodies.last.body, length: 90) %></p>
            <% else %>
              <p>No article body found.</p>
            <% end %>
            <div>
              <!-- Replace with actual author details -->
              <span><%= article.author.full_name %></span>
            </div>
            <a href="<%= article_path(article.slug) %>">
              Read more
            </a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
