<h1>New Author</h1>

<%= form_with model: @author, local: true do |form| %>
  <% if flash[:alert] %>
    <div id="error_explanation">
      <h2><%= flash[:alert] %></h2>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id %>
    <%= form.collection_select :user_id, User.left_outer_joins(:author).where(authors: { id: nil }), :id, :email, prompt: "Select a User" %>
  </div>

  <div>
    <%= form.label :full_name %>
    <%= form.text_field :full_name %>
  </div>

  <div>
    <%= form.submit 'Create Author' %>
  </div>
<% end %>
